.input, .textarea {
  outline: none;
  font-size: 15px;
  height: 40px;
  width: 350px;
  padding: 0px 5px;
  border: 3px solid transparent;
  border-bottom-color: gray;
  background-color: whitesmoke;
  transition: 0.3s;
}

.input:invalid[focused="true"], textarea:invalid[focused="true"]{
  border-color: transparent;
  border-bottom-color: red;
  animation: invalidInput 0.2s 1;
}

.input:hover,:focus, .textarea:hover,:focus {
  border: 3px solid #7a9cc6;
  border-radius: 5px;
}


@keyframes invalidInput {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0px);
  }
}

.input-error-message {
  display: block;
  color: red;
}

.textarea {
  border: none;
  outline: none;
  font-size: 15px;
  min-height: 150px;
  max-height: 150px;
  min-width: 600px;
  max-width: 600px;
  border: 3px solid transparent;
  border-bottom-color: gray;
}




