* {
  padding: 0px;
  margin: 0px;
}

:root{  
  --main-font: 'Lato', sans-serif;
  --font-color: #fff;
  --main-color: #000;
}

.app-container {
  background-color: gray;
  display: flex;
  justify-content: center;
}

.content-container {
  width: 1200px;
}