.message-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  height: 500px;
}

.message-form > h2 {
  width: 100%;
  text-align: center;
}


@media screen and (max-width: 650px) {
  .message-form {
    align-items: center;;
    padding: 0px;
  }

  .message-form > .form-input {
    min-width: 90%;
    max-width: 90%;
  }

  .form-input > .input {
    width: 90%;
  }

  .form-input > .textarea {
    width: 90%;
  }
}