.contact-container {
  min-height: 100vh;
  display: grid;
  align-content: center;
}

.social-media-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.social-media-container h2 {
  text-align: center;
}

.social-media-container .list {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 315px) {
  .social-media-container .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}