.contact-container {
  min-height: 100vh;
  background-color: white;
  display: grid;
  align-content: center;
}

.social-media-container {
  background-color: whitesmoke;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.social-media-container h2 {
  text-align: center;
}

.social-media-container .list {
  display: flex;
  justify-content: space-evenly;
}

