@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
  font-family: 'Quicksand', sans-serif;
}

.home-container {
  min-height: 100vh;
  padding: 10px;
}

.about-me-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.name-container {
  text-align: center;
}

.name-container span {
  font-size: 20px;
}

.about-me-name {
  width: 100%;
  font-size: 45px;
  text-align: center;
  font-family: var(--main-font)
}

.about-me-container > p {
  padding: 0px 50px;
  text-align: justify;
}

.technologies-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0px 10px 0px;
}

.technologies-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .technologies-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 120px);
    align-items: center;
    justify-items: center;
  }

  .about-me-container > p {
    padding: 0px 20px;
  }
}


@media screen and (max-width: 315px) {
  .technologies-list {
    grid-template-columns: repeat(2, 1fr);
  }
}