.modal-overlay {
  transition: 0.6s;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  z-index: 2;
  opacity: 1;
  visibility: visible;
}

.modal-overlay.active .modal-container {
  transform: scale(1);
}

.modal-container {
  transition: 0.3s;
  width: 500px;
  min-height: 100px;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  transform: scale(0);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

header > h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #888;
}

.close-button {
  transition: 0.2s;
  border: none;
  padding: 5px 10px;
  border-radius: 2px;
}

.close-button:hover {
  background-color: #ccc;
}

.close-button:active {
  transform: scale(0.90);
}

.modal-body {
  padding: 10px;
  display: flex;
  justify-content: center;
}