.projects-container {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
} 

.projects-container > h2 {
  text-align: center;
}

.projects-grid {
  gap: 10px;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-items: center;
}

@media screen and (max-width: 900px) {
  .projects-grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media screen and (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 100%;
  }
}