.projects-container {
  background-color: whitesmoke;
  min-height: 100vh;
} 

.projects-container > h2 {
  text-align: center;
}

.projects-grid {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 450px);
  justify-items: center;
  align-items: center;
}